/*join.css*/

@import url("common/reset.css");
@import url("common/header.css");
@import url("common/footer.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');

.container {
	width: 100%;
	height: calc(100vh - 180px);
}

.inner-con {
	width: 100%;
	height: calc(100vh - 180px);
	background-image: url("../img/ekuse4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	display: flex;
	justify-content: center;
}

.join {
	background: rgba(255, 255, 255, 0.5);
	width: 700px;
	display: flex;
  align-items: center;
  justify-content: center;
}

.join > form > table {
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px;
	width: 500px;
	font-family: 'Sunflower', sans-serif;
	letter-spacing: 2px;
}

.join > form > table thead tr th {
	color: white;
	text-shadow: 1px 1px 1px gray;
	font-size: 1.5em;
	line-height: 50px;
	font-family: 'Nunito', sans-serif;
}

.join > form > table tbody label {
	line-height: 40px;
	font-size: 1.2em;
	color: #5d4037;
}

.join > form > table tbody input {
	width: 100%;
	height: 40px;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 2px 0px;
	font-family: 'Sunflower', sans-serif;
}

.input-id {
	width: 85% !important;
}

#idCheckBtn {
	width: 15%;
	float: right;
	color: #5d4037;
}

#pwch {
	color: red;
}

.pwch2 {
	color: blue !important;
}

.join > form > table tfoot input {
	width: 100%;
	height: 40px;
	border: none;
	background-color: #A57C55;
	color: #FFFFFF;
	font-family: 'Sunflower', sans-serif;
	letter-spacing: 5px;
	font-size: 1em;
	margin-top: 5px;
}

.join > form > table tfoot hr {
	margin: 10px 0px;
}

.join > form > table tfoot a {
	color: #f3eee9;
	text-shadow: 2px 2px 2px gray;
	float: right;
}



















